body, html {
  height: 100%;
}

body {
  height: 100%;
  background-position: center;
  background-image: url(../img/planeta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: Arial;
  font-size: 2rem;
  color:white;
}


p:hover {
  color: black;
  cursor: pointer;
}
